*{
  margin: 0;
  padding: 0;
}

body{
  background-color: #ededed;
}
.nav-l {
  height: 30px;
  float: left;
}
nav{
  text-align: right;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.titulos-primarios{
  font-style: italic;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  letter-spacing: 0.5rem;
}

.lista{
  list-style-type: upper-latin;
  list-style-position: inside;
  
}

.texto{
  font-family: 'Montserrat', sans-serif;
}

.img-logo{
  width: 40px;
}

.div-centrado {
  width:80em; 
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}

table {
  border-collapse: collapse;
}

table .titulo-tabla{
  background-color:#cfcfcf;
}

.main-img {
  opacity: 0.5;
}
.img-comun{
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.inicio-div{
  text-align: center;
  margin-top: 3rem;
}
.clases-div {
  background-color: #cfcfcf;
}
.titulos-secundarios{
  color: #2e2d2d;
}

.formularios{
  background-color: #cfcfcf;
}

table{
margin: 0 auto;
}
.video-promo{
  width: 300px;
  height: 200px;
}
hr{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  size: 2;
  margin-top: 1rem;
  margin-bottom: 1rem;
  
}