* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ededed;
}
a {
  text-decoration: none;
  color: black;
}
nav ul{
  list-style:none;
}
nav li{
  display: inline-block;
  position: relative;
  width: 5%;
}
nav ul ul{
  position: absolute;
  display: none;
}
nav ul ul li{
  display: block;
  width: 8rem;
  margin: 0.5rem;
}

nav ul li:hover ul{
  display: block;
}
.navL {
  height: 30px;
  float: left;
}
nav {
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  text-align: right;
  position: relative;
}




.titulosPrimarios {
  font-style: italic;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  letter-spacing: 0.5rem;
}

.lista {
  list-style-type: upper-latin;
  list-style-position: inside;
}

.texto {
  font-family: "Montserrat", sans-serif;
}

.imgLogo {
  width: 40px;
}

.divCentrado {
  width: 80em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}

table {
  border-collapse: collapse;
}

table .tituloTabla {
  background-color: #cfcfcf;
}

.mainImg {
  opacity: 0.5;
}
.imgComun {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.inicioDiv {
  text-align: center;
  margin-top: 3rem;
}
.divClases {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.container-clases {
  display: flex;
}
.itemClases {
  width: 15rem;
  height: 10rem;
  margin: 15px;
}

.divNosotros{
  display: flex;
  flex-direction: column;
}
.videoAnthony{
  justify-content: center;
  align-items: center;
}

.titulosSecundarios {
  color: #2e2d2d;
}

.formularios {
  background-color: #cfcfcf;
}

table {
  margin: 0 auto;
}
.videoPromo {
  width: 300px;
  height: 200px;
}
hr {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  size: 2;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
