body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: linear-gradient(45deg, #c8e7ff, rgba(216, 187, 255, 0.5));
  /*
Footer
*/
  /*
NAVBAR
*/
  /*
Link de nav y footer
*/
}

body .footerBar {
  background-image: linear-gradient(45deg, #c8e7ff, rgba(216, 187, 255, 0.5));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

body .footerBar .facebook_rrss_icon {
  content: url("../images/icon/facebook_icon.png");
  width: 22px;
}

body .footerBar .facebook_rrss_icon:hover {
  border-color: #deaaff;
  background-color: #d8bbff;
}

body .footerBar .instagram_rrss_icon {
  content: url("../images/icon/instagram_icon.png");
  width: 22px;
}

body .footerBar .instagram_rrss_icon:hover {
  border-color: #deaaff;
  background-color: #d8bbff;
}

body .footerBar .mail_rrss_icon {
  content: url("../images/icon/mail_icon.png");
  width: 22px;
}

body .footerBar .mail_rrss_icon:hover {
  border-color: #deaaff;
  background-color: #d8bbff;
}

body .footerBar .twitter_rrss_icon {
  content: url("../images/icon/twitter_icon.png");
  width: 22px;
}

body .footerBar .twitter_rrss_icon:hover {
  border-color: #deaaff;
  background-color: #d8bbff;
}

body .navBar {
  background-image: linear-gradient(45deg, #c8e7ff, rgba(216, 187, 255, 0.5));
}

body .navBar .navBar__ul .navBar__ul__li:hover {
  background-color: #deaaff;
}

body a {
  text-decoration: none;
  color: black;
}

body a:hover {
  border-color: #deaaff;
  color: #421e58;
}

/*
operacion para container
*/
/*
MAIN
*/
.carousel__box .carousel-item {
  height: 94vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.carousel__box .carousel__box__item1 {
  background-image: linear-gradient(45deg, rgba(208, 209, 255, 0.6), rgba(192, 253, 255, 0.6)), url("../images/somos1.jpg");
}

.carousel__box .carousel__box__item2 {
  background-image: linear-gradient(45deg, rgba(208, 209, 255, 0.6), rgba(192, 253, 255, 0.6)), url("../images/somos2.jpg");
}

.carousel__box .carousel__box__text {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  color: black;
  z-index: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/*
Bio
*/
.bioDiv {
  height: 94vh;
  background-image: linear-gradient(45deg, rgba(192, 253, 255, 0.6), rgba(208, 209, 255, 0.6));
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}

.bioDiv .bioDiv__img {
  width: 40%;
}

.bioDiv .bioDiv__parrafo {
  width: 70%;
}

/*
Blog
*/
.blogDiv {
  background-image: linear-gradient(45deg, #c8e7ff, rgba(216, 187, 255, 0.5));
  text-align: center;
  padding: 20px;
}

.blogDiv .blogDiv__card {
  background: rgba(255, 203, 242, 0.3);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blogDiv .blogDiv__card .blogDiv__card__img {
  width: 40%;
}

/*
PEOPLE
*/
.peopleDiv {
  height: 94vh;
  background-image: linear-gradient(45deg, rgba(192, 253, 255, 0.6), rgba(208, 209, 255, 0.6));
  text-align: center;
  background-position: center;
  background-attachment: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
}

.peopleDiv .peopleDiv__itemContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.peopleDiv .peopleDiv__itemContainer .card {
  background-color: rgba(255, 203, 242, 0.3);
}

.peopleDiv .peopleDiv__itemContainer .card:hover {
  -webkit-transform: rotate(1deg);
          transform: rotate(1deg);
}

/*
Contact
*/
.contactDiv {
  height: 94vh;
  height: 94vh;
  padding: 20px;
}

.contactDiv button:hover {
  background-color: #d8bbff;
  border-color: #deaaff;
}

.contactDiv button {
  background-color: #deaaff;
  border-color: #d8bbff;
}

/*
operacion para letra
*/
/*
fonts pc and tablet
*/
@media (min-width: 700px) {
  h1 {
    font-style: normal;
    font-family: "Roboto", sans-serif;
    font-size: 40px;
    font-weight: 100;
  }
  h2 {
    font-style: normal;
    font-family: "Roboto", sans-serif;
    font-size: 22px;
    font-weight: 500;
  }
  .textMain h2 {
    font-style: normal;
    font-family: "Roboto", sans-serif;
    font-size: 22px;
    font-weight: 200;
  }
  h3 {
    font-style: normal;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 400;
  }
  h4 {
    font-style: normal;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 300;
  }
  h5 {
    font-style: italic;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 300;
  }
  p {
    font-style: normal;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 100;
  }
  a {
    font-style: normal;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 300;
  }
  .footerBar a {
    font-style: normal;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 300;
  }
  li {
    font-style: normal;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 100;
  }
}

/*
fonts mobile
*/
@media (max-width: 699px) {
  h1 {
    font-style: normal;
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    font-weight: 100;
  }
  h2 {
    font-style: normal;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 500;
  }
  .textMain h2 {
    font-style: normal;
    font-family: "Roboto", sans-serif;
    font-size: 17px;
    font-weight: 200;
  }
  h3 {
    font-style: normal;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 400;
  }
  h4 {
    font-style: normal;
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    font-weight: 300;
  }
  h5 {
    font-style: italic;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-weight: 300;
  }
  p {
    font-style: normal;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 100;
  }
  a {
    font-style: normal;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 300;
  }
  .footerBar a {
    font-style: normal;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-weight: 300;
  }
  li {
    font-style: normal;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-weight: 100;
  }
}
/*# sourceMappingURL=style.css.map */