body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #fcd5ce;
}

.grid {
  display: grid;
  grid-template-areas:
    "nav"
    "main"
    "bio"
    "people"
    "footer";
  grid-template-columns: 1fr;
}

/*
NAVBAR
  */
.navBar {
  background-color: #fec5bb;
  grid-area: nav;
  display: flex;
  justify-content: flex-end;
  padding-right: 50px;
}
.navBar ul {
  list-style: none;
}
.navBar li {
  display: inline;
}

.navBar a {
  text-decoration: none;
  color: black;
  width: 5%;
}


/*
MAIN
*/
.mainDiv {
  min-height: 100vh;
  background-image: linear-gradient(
      45deg,
      rgba(248, 204, 204, 0.623),
      rgba(250, 187, 187, 0.733)
    ),
    url("../images/somos1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  grid-area: main;
}

.textMain {
  min-height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.textMain div {
  display: block;
  text-align: center;
}
/*
BIO
*/
.bioDiv {
  background-color: #fec5bb;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  grid-area: bio;
  padding: 20px;
}
.bioDiv img{
  width: 400px;
}
/*
PEOPLE
*/
.peopleDiv {
  height: 100%;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  text-align: center;
  grid-area: people;
  padding: 20px;
}

.itemContainerPeople {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.itemPeople {
  width: 400px;
  background-color: #fec5bb;
  align-items: center;
  justify-content: center;
  margin: 10px;
}
.itemPeople img {
  width: 400px;
}

.itemPeople:hover{
  transform: rotate(1deg)
}

/*
Footer
*/
.footerBar {
  background-image: linear-gradient(
    45deg,
    rgba(250, 225, 221),
    rgba(254, 197, 187)
  );
  grid-area: footer;
  display: flex;
  justify-content: space-evenly ;
}

.footerBar a {
  text-decoration: none;
  color: black;
  text-align: center;
}
/*
fonts pc and tablet
*/
@media (min-width: 700px) {
  h1 {
    font-style: normal;
    font-family: "Roboto", sans-serif;
    font-size: 40px;
    font-weight: 100;
  }

  h2 {
    font-style: normal;
    font-family: "Roboto", sans-serif;
    font-size: 22px;
    font-weight: 500;
  }
  .textMain h2 {
    font-style: normal;
    font-family: "Roboto", sans-serif;
    font-size: 22px;
    font-weight: 200;
  }
  h3 {
    font-style: normal;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 400;
  }
  h4 {
    font-style: normal;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 300;
  }
  h5 {
    font-style: italic;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 300;
  }
  p {
    font-style: normal;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 100;
  }
  a {
    font-style: normal;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 300;
  }

  .footerBar a {
    font-style: normal;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 300;
  }
}

/*
fonts mobile
*/
@media (max-width: 699px) {
  h1 {
    font-style: normal;
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    font-weight: 100;
  }

  h2 {
    font-style: normal;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 500;
  }
  .textMain h2 {
    font-style: normal;
    font-family: "Roboto", sans-serif;
    font-size: 17px;
    font-weight: 200;
  }
  h3 {
    font-style: normal;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 400;
  }
  h4 {
    font-style: normal;
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    font-weight: 300;
  }
  h5 {
    font-style: italic;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-weight: 300;
  }
  p {
    font-style: normal;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 100;
  }
  a {
    font-style: normal;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 300;
  }

  .footerBar a {
    font-style: normal;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-weight: 300;
  }
}

/* CSS HEX 
--melon: #fec5bbff;
--pale-pink: #fcd5ceff;
--misty-rose: #fae1ddff;
--isabelline: #f8edebff;
--platinum: #e8e8e4ff;
--alabaster: #d8e2dcff;
--linen: #ece4dbff;
--champagne-pink: #ffe5d9ff;
--peach-puff: #ffd7baff;
--peach-crayola: #fec89aff;
*/
/* SCSS Gradient 
$gradient-top: linear-gradient(0deg, #fec5bbff, #fcd5ceff, #fae1ddff, #f8edebff, #e8e8e4ff, #d8e2dcff, #ece4dbff, #ffe5d9ff, #ffd7baff, #fec89aff);
$gradient-right: linear-gradient(90deg, #fec5bbff, #fcd5ceff, #fae1ddff, #f8edebff, #e8e8e4ff, #d8e2dcff, #ece4dbff, #ffe5d9ff, #ffd7baff, #fec89aff);
$gradient-bottom: linear-gradient(180deg, #fec5bbff, #fcd5ceff, #fae1ddff, #f8edebff, #e8e8e4ff, #d8e2dcff, #ece4dbff, #ffe5d9ff, #ffd7baff, #fec89aff);
$gradient-left: linear-gradient(270deg, #fec5bbff, #fcd5ceff, #fae1ddff, #f8edebff, #e8e8e4ff, #d8e2dcff, #ece4dbff, #ffe5d9ff, #ffd7baff, #fec89aff);
$gradient-top-right: linear-gradient(45deg, #fec5bbff, #fcd5ceff, #fae1ddff, #f8edebff, #e8e8e4ff, #d8e2dcff, #ece4dbff, #ffe5d9ff, #ffd7baff, #fec89aff);
$gradient-bottom-right: linear-gradient(135deg, #fec5bbff, #fcd5ceff, #fae1ddff, #f8edebff, #e8e8e4ff, #d8e2dcff, #ece4dbff, #ffe5d9ff, #ffd7baff, #fec89aff);
$gradient-top-left: linear-gradient(225deg, #fec5bbff, #fcd5ceff, #fae1ddff, #f8edebff, #e8e8e4ff, #d8e2dcff, #ece4dbff, #ffe5d9ff, #ffd7baff, #fec89aff);
$gradient-bottom-left: linear-gradient(315deg, #fec5bbff, #fcd5ceff, #fae1ddff, #f8edebff, #e8e8e4ff, #d8e2dcff, #ece4dbff, #ffe5d9ff, #ffd7baff, #fec89aff);
$gradient-radial: radial-gradient(#fec5bbff, #fcd5ceff, #fae1ddff, #f8edebff, #e8e8e4ff, #d8e2dcff, #ece4dbff, #ffe5d9ff, #ffd7baff, #fec89aff);
*/