$color1: rgba(192, 253, 255, 1);
$colorGra1: rgba(208, 209, 255, 0.6);
$colorGra2: rgba(192, 253, 255, 0.6);
$colorGra3: rgba(200, 231, 255, 1);
$colorGra4: rgba(216, 187, 255, 0.5);
$color2: rgba(216, 187, 255, 1);
$color3: rgba(222, 170, 255, 1);
$color4: rgba(255, 203, 242, 0.3);
$color5: rgba(66, 30, 88, 1);
$color6: black;
$height1: 88vh;
$class_carousel: carousel__box__item;
$text1: "Roboto", sans-serif;
$grad2: linear-gradient(45deg, $colorGra3, $colorGra4);
$grad1: linear-gradient(45deg, $colorGra1, $colorGra2);
$grad3: linear-gradient(45deg, $colorGra2, $colorGra1);

/*
importo este tipo de letra para hacer tipografia like disney
*/
@font-face {
  font-family: DisneyFont;
  src: url("../font/Walt.ttf");
}
/*
Al inicio, todo a 0, y set bg
*/

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: $grad2;
  /*
Footer
*/
  .footerBar {
    background-image: $grad2;
    display: flex;
    padding: 5px;
    justify-content: space-evenly;
    a {
      /*
Aca debajo, se agregan los iconos que se ven en el footer
*/
      padding-left: 30px;
      padding-right: 30px;
      @each $rrss in facebook, instagram, mail, twitter {
        .#{$rrss}_rrss_icon {
          content: url("../images/icon/#{$rrss}_icon.png");
          width: 22px;
          height: 22px;
        }
      }
    }
    a:hover {
      border-color: $color5;
      background-color: $color2;
    }
  }
  /*
NAVBAR
*/
  .navBar {
    .navbar {
      background-image: $grad2;
      div {
        .nav-link-item:hover {
          background-color: $color2;
          font-weight: 500;
        }
        div {
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
  /*
Link de nav y footer
*/
  a {
    text-decoration: none;
    color: black;
  }
  a:hover {
    border-color: $color3;
    color: $color5;
  }
}
/*
operacion para container
*/
@mixin default_container($height, $background-image, $text-align) {
  @if $height != 0 {
    min-height: $height;
  }
  @if $background-image != 0 {
    background-image: $background-image;
  }
  @if $text-align!= 0 {
    text-align: $text-align;
  }
}
/*
MAIN (Carousel)
*/
.mainSection {
  .carousel__box {
    .carousel-item {
      height: $height1;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      background-attachment: fixed;
    }
  }
  /*
Aca debajo seteo el background del div en el carousel de la primera pagina (index.html)
*/
  @each $num in 1, 2 {
    .#{$class_carousel}#{$num} {
      background-image: $grad1, url("../images/somos#{$num}.jpg");
    }
  }
  .carousel__box__text {
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    color: black;
    z-index: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
.mainSectionSec {
  .mainDivSecondary {
    text-align: center;
    .phrase-text1 , .phrase-text2{
      color: $color6;
      font-family: "DisneyFont";
    }
  }
}
/*
Bio
*/
.bioDiv {
  @include default_container($height1, $grad3, center);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  .bioDiv__img {
    width: 40%;
  }
  .bioDiv__parrafo {
    width: 70%;
  }
}
/*
Blog
*/
.blogDiv {
  @include default_container(0, $grad2, center);
  padding: 20px;
  .blogDiv__card {
    background: $color4;
    align-items: center;
    .blogDiv__card__img {
      width: 40%;
      padding: 10px;
    }
  }
}
/*
error page
*/
.errorDiv {
  @include default_container($height1, $grad3, center);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  .errorDiv__titulo {
    color: red;
    font-size: 40px;
  }
  a {
    color: black;
  }
  a:hover {
    color: black;
    background-color: $color2;
  }
  .errorDiv__img {
    width: 30%;
  }
}

/*
PEOPLE
*/
.peopleDiv {
  @include default_container(0, $grad3, center);
  background-position: center;
  background-attachment: fixed;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 20px;

  .peopleDiv__itemContainer {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    .card {
      height: 41rem;
      padding: 5px;
      background-color: $color4;
      margin-bottom: 10px;
    }
    .card:hover {
      transform: rotate(1deg);
    }
  }
}
/*
Contact
*/
.contactDiv {
  @include default_container($height1, $grad3, 0);
  height: $height1;
  padding: 20px;

  button:hover {
    background-color: $color2;
    border-color: $color3;
  }
  button {
    background-color: $color3;
    border-color: $color2;
  }
}

/*
operacion para letra
*/
@mixin font_default($style, $size, $weight) {
  font-style: $style;
  font-family: $text1;
  font-size: $size;
  font-weight: $weight;
}

/*
fonts pc and tablet
*/
@media (min-width: 700px) {
  h1,
  .main-title {
    @include font_default(normal, 40px, 100);
  }

  h2 {
    @include font_default(normal, 22px, 500);
  }
  .textMain h2 {
    @include font_default(normal, 22px, 200);
  }
  h3 {
    @include font_default(normal, 18px, 400);
  }
  h4 {
    @include font_default(normal, 15px, 300);
  }
  h5 {
    @include font_default(italic, 15px, 300);
  }
  p {
    @include font_default(normal, 15px, 100);
  }
  a {
    @include font_default(normal, 15px, 300);
  }

  .footerBar a {
    @include font_default(normal, 14px, 300);
  }
  li {
    @include font_default(normal, 14px, 100);
  }
}
/*
fonts mobile
*/
@media (max-width: 699px) {
  h1,
  .main-title {
    @include font_default(normal, 30px, 100);
  }
  h2 {
    @include font_default(normal, 18px, 500);
  }
  .textMain h2 {
    @include font_default(normal, 17px, 200);
  }
  h3 {
    @include font_default(normal, 15px, 400);
  }
  h4 {
    @include font_default(normal, 13px, 300);
  }
  h5 {
    @include font_default(italic, 12px, 300);
  }
  p {
    @include font_default(normal, 14px, 100);
  }
  a {
    @include font_default(normal, 14px, 300);
  }
  .footerBar a {
    @include font_default(normal, 12px, 300);
  }
  li {
    @include font_default(normal, 12px, 100);
  }
}
